.ant-table-row{
  cursor: pointer !important;
}

.ant-table-body{
  ::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
  }
  ::-webkit-scrollbar-track {
    background: rgb(239, 239, 239) !important;
    border-radius: 2px !important;
  }
  ::-webkit-scrollbar-thumb {
    background: #bfbfbf !important;
    border-radius: 10px !important;
    cursor: pointer !important;
  }
}
